*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border: 2px solid gray;
    width: 500px;
   
}
table tr{
    border: 2px solid gray;
}
td img{
    width: 100px;
    height: 100px;
    
}
td{
    width: 40%;
    border: 2px solid gray;


}                                           

